html {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    color: var(--text-color);
    background-image: var(--background-gradient);
    margin: 0;
    padding-top: 1rem;
}

.body_index {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    min-height: 100vh; 
    text-align: center;
}

.home_carousel{
    display: flex;
    justify-content: center;
    padding: 0px 25rem;
}

.home_carousel img{
    flex: 1;
    width: 20rem; 
    height: auto;

}

.pages{
    padding: 0rem 1rem;
    margin-top: 0 ;
}

.portrait{
    text-align: left;
}
