html{
    font-size: 62.5%;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(180, 183, 183));
    scroll-behavior: smooth;
    overflow: scroll;
}

body{
    font-size:  2.2rem;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    margin: auto; 
}

header{
    border: .1rem solid aliceblue;
    height: fit-content;
    padding-left: 15vh;
    padding-right: 15vh;
    padding-bottom: 1vh;
}

header p{
    font-size: 2.4rem;
    margin: 0;
    text-align: center;
}

header section{
    display: flex;
    justify-content: center;
    column-gap: 1vh;
    align-items: center;
    padding-top: 2vh;

}

h1{
    font-size: 5rem;
    margin:0;
    text-align: center;
}

h3{
    font-size: 3.2rem;
    text-align: center;
}

#projects li h4{
    font-size: 3.3 rem;
    margin:0;
    text-align: center;
}

h4{
    font-size: 3rem;
    margin:0;
    text-align: center;
}

h5{
    font-size: 2.5rem;
    margin:0;
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

section ul {
    background-color: white;
    list-style: none;
    height: fit-content;
    width: 40vw;
    text-align: center;
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem; 
}

footer {
    background-color: seagreen;
    font-size: 1.4rem;
    color: white;
    text-align: center;
    bottom: 0;
    height: 3vh;
}

#email{
    display: inline-flex;
    align-items: baseline;
    column-gap: 0.3rem;
    font-size: 2rem;
    color: white;
}

#NavBar {
    display: flex;
    position: sticky;
    top: 0;
}

#links{
    display: flex;
    justify-content: space-around;
    background-color: seagreen;
    color: white;
    font-size: 2rem; 
    width: 30vw;
    height: 9vh;
}

#links a:hover {
    background-color: rgb(64, 158, 105);
}

#NavBar > nav{
    flex-direction: row;
    background-color: black;
    overflow: hidden;
    width: 70vw;
    height: 9vh;
}

#NavBar > nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#NavBar > nav ul li a {
    display: block;
    color: white;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
}

#NavBar > nav ul li a:hover {
    background-color:rgb(101, 101, 101) ;
}

a{
    margin-right:1rem;
    text-decoration: none;
}

.fa-brands.fa-github{
    color: white;
}

.fa-solid.fa-envelope{
    color:white;
}

.fa-brands.fa-linkedin{
    color: white;
}

.Work-title{
    font-size: 2.3rem;
    color: blanchedalmond;
    display:inline;
    text-align: left;
    margin:0;
}

.Work-title > h3{
    font-size: 2.3rem;
    color: aliceblue;
    display:inline;
    text-align: left;
    margin: 0;
}

#cLogo{
    width: 5rem;
    height: 5rem;
    margin: 0;
    padding: 0;
    display: inline;
}


.role_company{
    font-size: 2.8rem;
    text-align: center;
    margin: 0;
    padding: .2rem;
}

.role_description{
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.role_dates{
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
}
